body {
  font-family: "Helvetica Neue"
}

/*top jumbotron styling*/
.jumbo-header {
  height: 360px;
  margin: 0px;
  padding: 0px;
  /*background: linear-gradient(135deg, #0794b9 0%,#067ea4 40%,#035b83 100%);*/
  background: #0794B9 url('../../sketch/background.svg') center center;
  background-size: cover;
  /**/
  display: flex;
  align-items: center;
  justify-content: center;
}

/*top contact button styling*/
.top-btn-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-btn {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  background-color: #4A90E2;
  font-size: 1.1em;
}

/*changed default btn-primary event effects*/
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  border: none;
  background-color: #005073;
  outline: none;
  box-shadow: none;
}

/*center navbar menu items when it's not collapsed*/
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #navbar {
    width: 100%;
  }

  .navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .navbar-default .navbar-nav > li > a:hover,   .navbar-default .navbar-nav > li > a:active,
    .navbar-default .navbar-nav > li > a:focus {
    color: #9B9B9B;
  }

  /*fontawesome styling for nav menu icons*/
  .fa-block {
    display: block;
    text-align: center;
  }
}

/*style menu icons when collpased*/
@media (max-width: 767px) {
  .fa-block {
    display: inline-block;
    padding-right: 15px;
  }
}

/*top navbar styling*/
.navbar-top {
  background-color: #005073;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

/*home page main content top-bar styling*/
section {
  margin: 50px 0;
}

.text-bar-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-bar-box {
  min-width: 200px;
  margin: 0 10px 10px 10px;
  cursor: pointer;
}

.text-bar {
  border-top: solid 8px #E4E3E3;
  color: #9B9B9B;
}

.text-bar-active {
  border-top: solid 8px #4A90E2;
  color: #4A90E2;
}

.text-bar-text {
  margin-top: 10px;
  font-size: 1.4em;
}

/*main text container styling*/
.text-container {
  max-width: 450px;
  min-height: 300px;
  margin: 0 auto 50px auto;
  color: #4A4A4A;
  font-size: 1.35em;
}

.main-text {
  margin-bottom: 30px;
}

#approach, #team-work, #client {
  display: none;
}

.btn-main {
  width: 240px;
  height: 50px;
  font-size: 1.2em;
  background-color: #E4E3E3;
  color: #4A4A4A;
  border: none;
}

#btn-play {
  color: #4A90E2;
}



/*footer styling*/
.navbar-bottom {
  margin-bottom: 0px;
  background-color: #005073;
  color: white;
  border-radius: 0px;
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  margin-top: 30px;
}

#logo-sm {
  width: 100px;
}
